.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust the height as needed */
}

.search-input {
  padding: 8px;
  margin-right: 8px;
  width: 300px; 
}
.search-button {
  padding: 8px 16px;
}
